.finalInputClassName {
  padding: 0 5px;
}

.inputClass {
    //background-color: #1A2226;
    // width: 100%;
    border: none;
    border-bottom: 2px solid rgba(47, 48, 53, 0.4);
    background-color: inherit;
    outline: 0;
    // margin: 10px 0;
    padding-left: 0;
    font-family: 'SFUIDisplay-Medium';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
}


.errorInput {
  border: none;
  border-bottom: 2px solid darkred;
  background: transparent;
  outline: none;
  color: #ECF0F5;
}

.error {
  font-size: 10px;
  color: darkred;
}
