.checkbox {
    vertical-align: middle;
}

.spanClassName {
    font-family: "SFUIDisplay-Medium";
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #2D2E46;;
    outline: none;
    text-decoration: none;
    background-color: inherit;
    vertical-align: middle;
}

.label {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2px;
    height: 18px;
}