.packsList {
    display:flex;   
    margin: auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    
}

.ContentAside {   
    display: flex;
    flex-direction:column;   
    max-width:245px;
    background-color: #ECECF9;    
    padding: 33px 23px 0 23px;
}

.TitleButtons {
    font-family: "SFUIDisplay-Semibold";
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #2D2E46;
    text-align: left;
    margin-bottom: 20px;
}

.btnWrap{
    margin-bottom: 45px;
}

.TitleSlider {
    font-family: "SFUIDisplay-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2D2E46;
    text-align: left;
    margin-bottom: 54px;   
}

.ContentMain {   
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    padding:  24px 48px;
}

.contentRightTop {
    display: flex;
    align-items: center;
    gap: 24px;    
    margin-bottom: 24px;
}

.tableMain {
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    overflow: auto;
    max-height: 432px;
    width: 100%;
    margin-bottom: 24px;
    max-width: 700px; //оставлять ли?
}

.table {
        border: none;
        border-spacing: 0px;
        border-collapse: collapse;
        width: 100%; 
        // max-width: 671px;   
}

.tableHeader {    
    background-color: #ECECF9;
    position: sticky;
    top:0;
}

.tr{
    height: 48px;
    text-align: left;     
    color: #2D2E46;
    font-family: "SFUIDisplay-Regular";
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
}

.tr .td {
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.tr:nth-child(even) {
    background-color:#F8F7FD;
}

.th{
    cursor: pointer;
    align-items: center;
    padding: 0 5px; 
    font-family: 'SFUIDisplay-Bold';
}

.td{
    text-align: center;
}

.td:first-child {
    padding-left: 25px;
    text-align: left;
}

.th:first-child {
    padding-left: 25px;
}

.th:last-child {
    padding: 0 24px 0 5px;
}

.BtnBox {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 25px;
    justify-content: flex-end;
}

.SelectWrap {
    display:flex;
    align-items:center;
    gap:5px;
    font-family: 'SFUIDisplay-Medium';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2D2E46;
}

select {
    outline: none;
    border:  1px solid rgba(99, 93, 128, 0.4);
    font-family: 'SFUIDisplay-Regular';
    font-size: 12px;
    line-height: 14px;
    padding: 3px 6px 2px 0px; 
    width: 40px;
    box-sizing: border-box; 
    display: block; 
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff; 
    background-image: url('../../images/selectArrow.svg'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .3em top 50%, 0 0;
}

    select::-ms-expand { display: none; } 
    select:hover { border-color: #888; } 
    select:focus { border-color: #aaa; 
    color: #222;
    outline: none; 
    } 


select option {
    text-align: center;
    color: #2D2E46;
}

::-webkit-scrollbar {
	width: 6px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


