.textLight {
    font-family: "SFUIDisplay-Regular";
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
}

.FormBox {
    display: flex;
    flex-direction: column;
    margin-top:"40px";
}