.linkWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textLight {
    text-align: center;
    color: #2D2E46;
    opacity: 0.5;
    font-family: "SFUIDisplay-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 7px;
}

.psRelative{
    position: relative !important;
}

.EyeButton {
    border:none;
    background: inherit;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0.5em;
    top: -0.2em;
    height: 24px;
}



