.pagesWrapper {
    display: flex;
    align-items:center;
    margin: 10px 0;
    gap: 12px;
    justify-content: center;
    font-family: "SFUIDisplay-Regular";
    font-size: 12px;
    color: black;
}

.pageList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.currentPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #21268F;
    color: #F2F5F7;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    user-select: none;
}

.page {
    cursor: pointer;
    user-select: none;
}

.page:hover {
    color: #280c77;
}

.item {
    cursor: pointer;
    user-select: none;
}

.item:hover {
    color: #280c77;
}

.paginatorArrow {
    border:none;
    text-decoration: none;
    background-color:inherit;
    cursor: pointer;
    width: 6px;
    height: 5px;
    display: flex;
    align-items:center;
}

