.headerMain {  
    background-color: #EBE0E9;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.title {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #2D2E46; 
}

.btnWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}